<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Isaac Timothy - Highlights</title>
      <link rel="stylesheet" href="styles.css" />
      <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"></script>
  </head>

  <body hx-suppress>
      <nav class="nav nav-top">
        <a href="index.html" hx-get="index.html" hx-target="#main-content" hx-push-url="true">Home</a>
        <a href="about.html" hx-get="about.html" hx-target="#main-content" hx-push-url="true">About</a>
        <a href="music.html" hx-get="music.html" hx-target="#main-content" hx-push-url="true">Music</a>
        <a href="tvsl.html" hx-get="tvsl.html" hx-target="#main-content" hx-push-url="true">TV</a>
        <a href="modeling.html" hx-get="modeling.html" hx-target="#main-content" hx-push-url="true">Modeling</a>
        <a href="contact.html" hx-get="contact.html" hx-target="#main-content" hx-push-url="true">Contact</a>
      </nav>

      <main id="main-content">
        <section>
          <h2 style="margin-bottom: 1rem;">Highlights</h2>
          <p>Isaac’s performances on <strong style="color: #e9dbc4;">The Voice Sri Lanka</strong> was recognized internationally, and many
            YouTubers started a trend reacting to all Isaac’s Performances. All his viral performaces was
            featured on <strong style="color: #e9dbc4;">The Voice Global Youtube Channel</strong> for both ‘Best of the Week’ & ‘Best of the
            Month’.
          </p>
          <div class="video-highlights">
            <div class="video">
              <iframe
                loading="lazy"
                src="https://www.youtube.com/embed/KHES7V8NitE?start=760"
                title="Numb – Linkin Park"
                allowfullscreen>
              </iframe>
              <p>Numb – Linkin Park</p>
            </div>
            <div class="video">
              <iframe
                loading="lazy"
                src="https://www.youtube.com/embed/lJmENTzfmZc?start=645"
                title="Believer – Imagine Dragons"
                allowfullscreen>
              </iframe>
              <p>Radioactive – Imagine Dragons</p>
            </div>
            <div class="video">
              <iframe
                loading="lazy"
                src="https://www.youtube.com/embed/0uJ6y27soEI?start=122"
                title="Believer – Imagine Dragons"
                allowfullscreen>
              </iframe>
              <p>Can You Feel My Heart - Bring Me The Horizon</p>
            </div>
          </div>
        </section>
      </main>

      <nav class="nav nav-burger">
        <details>
          <summary aria-label="Open menu">☰</summary>

          <div class="menu">
            <a href="index.html" hx-get="index.html" hx-target="#main-content" hx-push-url="true">HOME</a>
            <a href="about.html" hx-get="about.html" hx-target="#main-content" hx-push-url="true">ABOUT</a>
            <a href="music.html" hx-get="music.html" hx-target="#main-content" hx-push-url="true">MUSIC</a>
            <a href="tvsl.html" hx-get="tvsl.html" hx-target="#main-content" hx-push-url="true">TV</a>
            <a href="modeling.html" hx-get="modeling.html" hx-target="#main-content" hx-push-url="true">MODELING</a>
            <a href="contact.html" hx-get="contact.html" hx-target="#main-content" hx-push-url="true">CONTACT</a>
          </div>
        </details>
      </nav>

      <footer style="margin-top: auto;">
        <p>&copy; Isaac Timothy. All rights reserved.</p>
      </footer>
  </body>
</html>